<td>
	<a asp-action="ShowDetails" asp-route-id="@Model.Id" class="btn btn-warning">
		<i class="fas fa-eye"></i> Details
	</a>
</td>
<td>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">
		<i class="fas fa-edit"></i> Edit
	</a>
</td>
<td>
	<a data-id="@Model.Id" data-name="@Model.Name" asp-route-id="@Model.Id" asp-action="Delete" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">
		<i class="fas fa-trash"></i> Delete
	</a>
</td>